.__in-progress,
.__in-acceptance-testing,
.__ready-to-test {
	background: #FBFBEB !important;
}

.__completed,
.__ready-to-release,
.__released {
	background: #EDFFEB !important;
}

.__blocked {
	background: #FFF2F2 !important;
}