.asset-info .expander {
	display: none !important;
}

.collapsed-text,
.asset-info .expandable-text .collapsed-text>.rich-text.inline-edit {
	max-height: none !important;
	overflow: visible !important;
}
