.__in-progress,
.__in-acceptance-testing,
.__ready-to-test,
.__ready-to-release{
	background: #FBFBEB !important;
}

.__completed,
.__released {
	background: #EDFFEB !important;
}

.__blocked {
	background: #FFF2F2 !important;
}