.__in-progress,
.__code-review,
.__acceptance-testing,
.__ready-to-test,
.__in-review {
	background: #FBFBEB !important;
}

.__completed,
.__pending-merge,
.__ready-to-release,
.__released,
.__resolved {
	background: #EDFFEB !important;
}

.__blocked,
.__returned {
	background: #FFF2F2 !important;
}
