.__in-progress,
.__code-review,
.__acceptance-testing,
.__ready-to-test,
.__in-review {
	background: #FBFBEB !important;
}

.__completed,
.__pending-merge,
.__ready-to-release,
.__released,
.__resolved {
	background: #EDFFEB !important;
}

.__blocked,
.__returned {
	background: #FFF2F2 !important;
}

[data-theme=dark] .__in-progress,
[data-theme=dark] .__code-review,
[data-theme=dark] .__acceptance-testing,
[data-theme=dark] .__ready-to-test,
[data-theme=dark] .__in-review {
	background: #6b6b32 !important;
}

[data-theme=dark] .__completed,
[data-theme=dark] .__pending-merge,
[data-theme=dark] .__ready-to-release,
[data-theme=dark] .__released,
[data-theme=dark] .__resolved {
	background: #30632b !important;
}

[data-theme=dark] .__blocked,
[data-theme=dark] .__returned {
	background: #503a3a !important;
}
