.__in-progress,
.__code-review,
.__acceptance-testing,
.__ready-to-test,
.__in-review {
	background: #FBFBEB !important;
}

.__completed,
.__pending-merge,
.__ready-to-release,
.__released,
.__resolved {
	background: #EDFFEB !important;
}

.__blocked,
.__returned {
	background: #FFF2F2 !important;
}

.dark .__in-progress,
.dark .__code-review,
.dark .__acceptance-testing,
.dark .__ready-to-test,
.dark .__in-review {
	background: #6b6b32 !important;
}

.dark .__completed,
.dark .__pending-merge,
.dark .__ready-to-release,
.dark .__released,
.dark .__resolved {
	background: #30632b !important;
}

.dark .__blocked,
.dark .__returned {
	background: #503a3a !important;
}
