.rich-text-content .css-icon.edit {
	display: none;
}

.rich-text-content.isEditing {
	background: none !important;
}

/* Pseudo block with float right for take the place for .voe-inline-editor-checkbox */
.rich-text .inline-edit-content > div:before {
	content: '';
	display: block;
	float: right;
	height: 26px;
	width: 85px;
}

.voe-inline-editor-checkbox {
	position: sticky;
	top: 0;
	height: 0;
	z-index: 1;
	margin-bottom: 33px;
	opacity: 0;
	transition: opacity .25s ease;
}

.rich-text-container:hover .voe-inline-editor-checkbox, .voe-inline-editor-checkbox_shown {
	opacity: 1;
}

.voe-inline-editor-checkbox + .rich-text {
	margin-top: -33px;
}

.voe-inline-editor-checkbox__inner {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #d1d1d1;
	background: #f8f8f8;
	padding: 5px 10px;
}

.voe-inline-editor-checkbox label {
	font-size: 15px !important;
	text-transform: none !important;
}

.voe-inline-editor-checkbox input {
	margin-right: 5px;
}

.voe-inline-editor-shared-panel {
	position: sticky;
	top: 0;
	height: 0;
	width: 100%;
	z-index: 2;
}

.voe-inline-editor-shared-panel__inner {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.cke_editable, .rich-text {
	font-size: 15px;
	line-height: 1.4;
	max-width: 1100px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	border: 0 !important;
	font-family: "Proxima Nova", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.cke_editable h1, .cke_editable h2, .cke_editable h3, .cke_editable h4, .cke_editable h5, .cke_editable h6, .rich-text h1, .rich-text h2, .rich-text h3, .rich-text h4, .rich-text h5, .rich-text h6 {
	font-weight: bold;
	margin: 10px 0;
}

.cke_editable h1, .rich-text h1 {
	font-size: 2.2em;
}

.cke_editable h2, .rich-text h2 {
	font-size: 1.8em;
}

.cke_editable h3, .rich-text h3 {
	font-size: 1.4em;
}

.cke_editable h4, .rich-text h4 {
	font-size: 1.2em;
}

.cke_editable h5, .rich-text h5 {
	font-size: 1em;
}

.cke_editable h6, .rich-text h6 {
	font-size: 0.8em;
}

.cke_editable .hide, .rich-text .hide {
	display: none !important;
}

.cke_editable p, .rich-text p {
	margin: 10px 0;
	line-height: inherit !important;
}

.cke_editable ul, .rich-text ul {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.cke_editable table, .rich-text table {
	border-spacing: 0;
}

.cke_editable td, .cke_editable th, .rich-text td, .rich-text th {
	border: 1px solid #a6a6a6 !important;
	padding: 5px !important;
}

.cke_editable, .rich-text .inline-edit-content > div {
	padding: 6px 10px;
}
